.left-form {
    -fx-background-color: linear-gradient(to bottom right, #00A3FF, #7ec0f6);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

.right-form {
        -fx-background-color: #fff;
        -fx-border-color: #000;
        -fx-border-width: .4px .4px .4px 0px;
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #f43f57;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-border-color: #000;
    -fx-border-radius: 4px;
    -fx-border-width: 2px;
    -fx-font-size: 13px;
    -fx-font-family: "Tahoma";
}

.textfield:focused {
    -fx-background-color: #fff;
    -fx-border-width: .4px;
    -fx-border-color: linear-gradient(to bottom right, #00A3FF, #7ec0f6);
}

.loginbutton {
    -fx-background-color: linear-gradient(to bottom, #3ac2fd, #008ffa);
    -fx-background-radius: 4px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Tahoma;
    -fx-cursor: hand;
}

.loginbutton:hover {
    -fx-background-color: linear-gradient(to bottom, #48a4f8, #00A3FF);
}